<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0; 
        background-color: skyblue;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1{
            font-size: 48px; 
            text-align: center;

        }
        ul,h3,h2,h4{
            text-align: center;
            font-size: 32px;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>

    <h2> Welcome to the profile of <%= person %> </h2>
    <h3>He's <%= data.age %> and he's a <%= data.job %></h3>
    <h4>His hobbies are : </h4>
    
    <ul>
<% data.hobbies.forEach(function(hob){ %> 
    <li><%= hob %></li>
<% })  %>
    </ul>

</body>
</html>